<div class="dd-side__brand">
  <a href="index.html">DeviceDesk</a>
  <button id="ddSideToggle" class="dd-side__toggle" aria-label="Toggle sidebar">☰</button>
</div>

<nav class="dd-side__nav">
  <div class="dd-side__section">RNR</div>
  <a data-nav="rnr-upload"  href="rnr.html"          class="dd-side__link">Upload RNR</a>
  <a data-nav="rnr-all"     href="rnr-all.html"      class="dd-side__link">All RNR Devices</a>
  <a data-nav="rnr-batches" href="rnr-batches.html"  class="dd-side__link">RNR Batches</a>

  <div class="dd-side__section">NEW</div>
  <a data-nav="new-upload"  href="new.html"          class="dd-side__link">Upload NEW</a>
  <a data-nav="new-all"     href="new-all.html"      class="dd-side__link">All NEW Devices</a>
  <a data-nav="new-batches" href="new-batches.html"  class="dd-side__link">NEW Batches</a>
  <a data-nav="new-readiness" href="new-readiness.html" class="dd-side__link">School Readiness</a>
  <a data-nav="readiness-reports" href="readiness-reports.html" class="dd-side__link">Readiness Reports</a>
</nav>